<h1>New User</h1>

<form ng-submit="users.newUser()" id="updateUser">

    <label for="newCriminal-first_name">First Name:</label>
    <input type="text" id="addUser.first_name" ng-model="users.addUser.first_name"><br>

    <label for="newCriminal-last_name">Last Name:</label>
    <input type="text" id="addUser.last_name" ng-model="users.addUser.last_name"><br>

    <label for="newCriminal-username">Username:</label>
    <input type="text" id="addUser.username" ng-model="users.addUser.username"><br>

    <label for="newCriminal-email">Email:</label>
    <input type="text" id="addUser.email" ng-model="users.addUser.email"><br>
    
    

    <label for="newCriminal-physician">Mental Health Physician:</label>
    <input type="text" id="addUser.physician" ng-model="users.addUser.physician"><br>
    
    <label for="newCriminal-physician_email">Physician Email:</label>
    <input type="text" id="addUser.physician_email" ng-model="users.addUser.physician_email"><br>

    
    
    
    <label for="newCriminal-happiness_color">Happiness Color</label>
    <input type="text" id="addUser.happiness_color" ng-model="users.addUser.happiness_color"><br>
    
    <input type="submit" value="Submit">

</form>