<section class="row">
    <div class="col-md-8 col-md-offset-2">
            <h2>Account Information</h2>
            
            <hr>
            
            <p><strong>name:</strong> {{ usersCtrl.info.first_name }} {{ usersCtrl.info.last_name }} </p>
            <p><strong>email:</strong>{{ usersCtrl.info.username }} </p>
            
            <hr>
            
            <p><strong>mental health physcian:</strong> {{ usersCtrl.info.mental_health_physician }} </p>
            <p><strong>physician's email:</strong> {{ usersCtrl.info.physician_email }} </p>
            
            <hr>
            
            <div class="colors" ng-class="" ><strong>joy</strong> {{ usersCtrl.info.joy }} </div>
            <div class="colors" ng-class="" ><strong>acceptance</strong> {{ usersCtrl.info.acceptance }} </div>
            <div class="colors" ng-class="" ><strong>fear</strong> {{ usersCtrl.info.fear }} </div>
            <div class="colors" ng-class="" ><strong>surprise</strong> {{ usersCtrl.info.surprise }} </div>
            <div class="colors" ng-class="" ><strong>sadness</strong> {{ usersCtrl.info.sadness }} </div>
            <div class="colors" ng-class="" ><strong>disgust</strong> {{ usersCtrl.info.disgust }} </div>
            <div class="colors" ng-class="" ><strong>anger</strong> {{ usersCtrl.info.anger }} </div>
            <div class="colors" ng-class="" ><strong>anticipation</strong> {{ usersCtrl.info.anticipation }} </div>
            
            <button ng-click="">Edit</button>
            <button ng-click="usersCtrl.deleteUser(usersCtrl.info._id)">Delete</button>
    </div>
</section>
