<section class="row">
    <div class="col-md-12">
        <h4>Basic Information</h4> 
        <p><strong>Name:</strong> {{ usersCtrl.info.first_name }} {{ usersCtrl.info.last_name }}</p>
        <p><strong>Email:</strong> {{ usersCtrl.info.username }}</p>
        <p><strong>Gender:</strong> {{ usersCtrl.info.gender }}</p>
        
        <hr>
        
        <h4>Mental Health Information</h4> 
        <p><strong>Physcian's Name:</strong> {{ usersCtrl.info.mental_health_physician }}</p>
        <p><strong>Physician's Email:</strong> {{ usersCtrl.info.physician_email }}</p>     
        
        <hr>
        
        <h4>Emotional Color Palette</h4>
        <p>Assign colors to the emotions listed bellow, they will be used in your timeline.</p>
    </div>
</section>

<section class="row colors" ng-style="{ 'background-color': usersCtrl.info.joy }" >
    <div class="col-md-6 col-md-offset-3">
        <h4>joy</h4>
        <p>a feeling of great pleasure and happiness</p>
        <p><em>synonyms: delight, great pleasure, joyfulness, jubilation, triumph, exultation, rejoicing, happiness, gladness, glee, exhilaration, exuberance, elation, euphoria, bliss, ecstasy, rapture</em></p>
    </div>
</section>
            
<section class="row colors" ng-style="{ 'background-color': usersCtrl.info.acceptance }" >
    <div class="col-md-6 col-md-offset-3">
        <h4>acceptance</h4>
        <p>a person's assent to the reality of a situation, recognizing a process or condition (often a negative or uncomfortable situation) without attempting to change it, protest</p>
    </div>
</section>
            
<section class="row colors" ng-style="{ 'background-color': usersCtrl.info.fear }" >
    <div class="col-md-6 col-md-offset-3">
        <h4>fear</h4>
        <p>an unpleasant emotion caused by the belief that someone or something is dangerous, likely to cause pain, or a threat</p>
        <p><em>synonyms: terror, fright, fearfulness, horror, alarm, panic, agitation, trepidation, dread, consternation, dismay, distress</em></p>
    </div>
</section>
            
<section class="row colors" ng-style="{ 'background-color': usersCtrl.info.surprise }" >
    <div class="col-md-6 col-md-offset-3">
        <h4>surprise</h4>
        <p>an unexpected or astonishing event, fact, or thing</p>
        <p><em>synonyms: shock, bolt from the blue, bombshell, revelation, rude awakening, eye-opener</em></p>
    </div>
</section>

<section class="row colors" ng-style="{ 'background-color': usersCtrl.info.sadness }" >
    <div class="col-md-6 col-md-offset-3">
        <h4>sadness</h4>
        <p>feeling or showing sorrow; unhappy</p>
        <p><em>synonyms: unhappy, sorrowful, dejected, depressed, downcast, miserable, down, despondent, despairing, disconsolate, desolate, wretched, glum, gloomy, doleful, dismal, melancholy, mournful, woebegone, forlorn, crestfallen, heartbroken, inconsolable</em></p>
    </div>
</section>
            
<section class="row colors" ng-style="{ 'background-color': usersCtrl.info.disgust }" >
    <div class="col-md-6 col-md-offset-3">
        <h4>disgust</h4>
        <p>a feeling of revulsion or profound disapproval aroused by something unpleasant or offensive</p>
        <p><em>synonyms: revulsion, repugnance, aversion, distaste, nausea, abhorrence, loathing, detestation, odium, horror</em></p>
    </div>
</section>
            
<section class="row colors" ng-style="{ 'background-color': usersCtrl.info.anger }" >
    <div class="col-md-6 col-md-offset-3">
        <h4>anger</h4>
        <p>a strong feeling of annoyance, displeasure, or hostility</p>
        <p><em>synonyms: rage, vexation, exasperation, displeasure, crossness, irritation, irritability, indignation, pique</em></p>
    </div>
</section>
            
<section class="row colors" ng-style="{ 'background-color': usersCtrl.info.anticipation }" >
    <div class="col-md-6 col-md-offset-3">
        <h4>anticipation</h4>
        <p>the action of anticipating something; expectation or prediction</p>
        <p><em>synonyms: expectancy, expectation, excitement, suspense</em></p>
    </div>
</section>

<section class="row">
    <div class="col-md-12">
        <button class="blue-button left-half no-margin" ng-click="usersCtrl.editing = !usersCtrl.editing">Edit</button>
        <button class="red-button right-half no-margin" ng-click="usersCtrl.deleteUserApi(usersCtrl.params)">Delete User</button>
    </div>
</section>