body{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25;
}

section {
    border: 1px solid #fff;
    padding: 30px;
}


nav {
    
}

footer {
    text-align: center;
    padding: 30px;
}


/* Type */

p {
    font-size: 14px;
}

strong {
    font-weight: 700;
}

/* Landing */
.hero {
    background-image: url("../assets/hero.jpeg");
    background-position: center center;
    background-size: 100% auto;
    height: 400px;
}

.red, .orange, .yellow, .green, .blue{
    color: #fff;
    padding: 5%;
    height: 300px;
}

.red {
    background-color: #e55c4c;
}
orange {
    background-color: #e55c4c;
}
.yellow {
    background-color: #ffc548;
}
.green {
    background-color: #22a57b;
}
.blue {
    background-color: #41b1bf;
}


/* Color Palette */
.colors {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    background: #eee;
    border-radius: 5px;
    text-align: center;
}

/* Forms */

.left {
    float: left;
    width: 40%;
}

.right {
    float: right;
    width: 50%;
}

label {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;    
    font-weight: 700;
    color: #555;
}

.bottom-padding{
    margin-bottom:30px;
}

input[type=text], input[type=email], input[type=datetime], input[type=color], select {
    width: 100%;
    background: none;
    border-width: 0 0 1px 0;
    border-color: #d1d1d1;
    font-family: 'Kalam', cursive;
    padding: 2px;
}

textarea, input[type=text-area] {
    width: 100%;
    background: white;
    border-width: 0 1px 1px 0;
    border-color: white;
    font-family: 'Kalam', cursive;
}