<h1>Edit Event</h1>

<form ng-submit="users.putUser(user_id)" id="addUser">

    <label for="newCriminal-first_name">First Name:</label>
    <input type="text" id="updateUser.first_name" ng-model="users.updateUser.first_name"><br>

    <label for="newCriminal-last_name">Last Name:</label>
    <input type="text" id="updateUser.last_name" ng-model="users.updateUser.last_name"><br>

    <label for="newCriminal-username">Username:</label>
    <input type="text" id="updateUser.username" ng-model="users.updateUser.username"><br>
    
    <input type="text" value="{{ user_id }}" id="updateUser._id" ng-model="users.updateUser._id">

    <input type="submit" value="Submit">

</form>