
<h3>One Event Directive Linked</h3>
{{ 2 + 2 }}
<h3> {{ eventsCtrl.event.title }} </h3>

<ul>
    <li>{{ event.location }}</li>
    <li>{{ event.people_involved }}</li>
    <li>{{ event.situation }}</li>
    <li>{{ event.triggers }}</li>
    <li>{{ event.bodily_sensations }}</li>
    <li>{{ event.emotion }}</li>
    <li>{{ event.automatic_thoughts }}</li>
    <li>{{ event.rational_thoughts }}</li>
    <li>{{ event.behaviors }}</li>
    <li>{{ event.consequences }}</li>
    <li>{{ event.challenged_beliefs }}</li>
    <li>{{ event.lesson }}</li>
    <li>{{ event.old_perspective }}</li>
    <li>{{ event.new_perspective }}</li>
    <li>{{ event.coping_strategies }}</li>
</ul>
