
<ul class="cbp_tmtimeline">

    <li ng-repeat="event in eventsCtrl.events | filter: search | orderBy: '-date'">
        
        <div ng-if="!eventsCtrl.editing || eventsCtrl.editingEventId != event._id">

            <div ng-if="event.emotion == 'joyful'">
                <div class="cbp_tmicon" ng-style="{ 'background-color': eventsCtrl.userInfo.joy }"></div>
            </div>
            
            <div ng-if="event.emotion == 'accepted'">
                <div class="cbp_tmicon" ng-style="{ 'background-color': eventsCtrl.userInfo.acceptance }"></div>
            </div>
            
            <div ng-if="event.emotion == 'fearful'">
                <div class="cbp_tmicon" ng-style="{ 'background-color': eventsCtrl.userInfo.fear }"></div>
            </div>
            
            <div ng-if="event.emotion == 'surprised'">
                <div class="cbp_tmicon" ng-style="{ 'background-color': eventsCtrl.userInfo.surprise }"></div>
            </div>
            
            <div ng-if="event.emotion == 'sad'">
                <div class="cbp_tmicon" ng-style="{ 'background-color': eventsCtrl.userInfo.sadness }"></div>
            </div>
            
            <div ng-if="event.emotion == 'disgusted'">
                <div class="cbp_tmicon" ng-style="{ 'background-color': eventsCtrl.userInfo.disgust }"></div>
            </div>
            
            <div ng-if="event.emotion == 'angry'">
                <div class="cbp_tmicon" ng-style="{ 'background-color': eventsCtrl.userInfo.anger }"></div>
            </div>
        
            <div class="cbp_tmlabel">
                <h3>{{ event.title }} <span>( {{ event.emotion }} )</span></h3>
                <p>{{ event.date | date: 'MMMM d, yyyy' }}</p>
                <hr>
                <div ng-hide="showMore">
                   <button class="yellow-button" ng-click="showMore=!showMore">Show More</button>
                </div>
                <div ng-show="showMore" >                 
                <div class="left"> 
                    <p>@ <strong>{{ event.location }}</strong> w/ <strong>{{ event.people_involved }}</strong></p>
                    
                    <p>{{ event.situation }}</p>
                    
                    <p>Experienced <strong>{{ event.bodily_sensations }}</strong></p>
                    
                    <p>Triggered by <strong>{{ event.triggers }}</strong></p>
                    
                    <p>At first, I thought: <strong>{{ event.automatic_thoughts }}</strong></p>
                    
                    <p>When I had a chance to think about what had happened, I realized: <strong>{{ event.rational_thoughts }}</strong></p>
                    
                    <p><strong>{{ event.behaviors }} </strong></p>
                    <p><strong>{{ event.consequences }}</strong></p>
                    <p><strong>{{ event.challenged_beliefs }}</strong></p>

                    <p><strong> What did I take away from this experience?</strong> {{ event.lesson }}</p>

                    <p><strong>Old Perspective:</strong> {{ event.old_perspective }}</p>
                    
                    <p><strong>New Perspective:</strong> {{ event.new_perspective }}</p>
                    
                    <p><strong>Future Coping Strategies:</strong> {{ event.coping_strategies }}</p>
                </div>

                <div class="right">  
                    <p><strong>{{ event.bodily_sensations }}</strong></p><hr>
                                                                              
                    <!--Undefined-->
                    <div ng-if="!eventsCtrl.userInfo.gender">
                        <span><p>Please specify your gender in your account settings to make use of this visual representation.</p><hr></span>
                    </div>
                    
                    <!--Female-->
                    <div ng-if="eventsCtrl.userInfo.gender == 'female' && !event.bodily_sensations">
                        <span><img src="../../assets/female/body.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Chronic Headaches'">
                        <span><img src="../../assets/female/chronic-headaches.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Back Pain'">
                        <span><img src="../../assets/female/back-pain.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Muscle Aches and Cramps'">
                        <span><img src="../../assets/female/muscle-aches-and-cramps.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Tightness in the Chest'">
                        <span><img src="../../assets/female/tightness in the chest.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Dizziness'">
                        <span><img src="../../assets/female/dizziness.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Appetite Change'">
                        <span><img src="../../assets/female/appetite-change.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Difficulty Sleeping'">
                        <span><img src="../../assets/female/difficulty-sleeping.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Stomach or Bowel Problems'">
                        <span><img src="../../assets/female/stomach-or-bowel-problems.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Low Energy'">
                        <span><img src="../../assets/female/low-energy.png"/></span>
                    </div>
                   
                    <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Shortness of Breath'">
                        <span><img src="../../assets/female/shortness-of-breath.png"/></span>
                    </div>
                    
                    <!--Male-->
                    <div ng-if="eventsCtrl.userInfo.gender == 'male' && !event.bodily_sensations">
                        <span><img src="../../assets/male/body.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Chronic Headaches'">
                        <span><img src="../../assets/male/chronic-headaches.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Back Pain'">
                        <span><img src="../../assets/male/back-pain.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Muscle Aches and Cramps'">
                        <span><img src="../../assets/male/muscles-aches-and-cramps.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Tightness in the Chest'">
                        <span><img src="../../assets/male/tightness-in-the-chest.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Dizziness'">
                        <span><img src="../../assets/male/dizziness.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Appetite Change'">
                        <span><img src="../../assets/male/appetite-change.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Difficulty Sleeping'">
                        <span><img src="../../assets/male/difficulty-sleeping.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Stomach or Bowel Problems'">
                        <span><img src="../../assets/male/stomach-or-bowel-problems.png"/></span>
                    </div>
                    
                    <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Low Energy'">
                        <span><img src="../../assets/male/low-energy.png"/></span>
                    </div>
                   
                    <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Shortness of Breath'">
                        <span><img src="../../assets/male/shortness-of-breath.png"/></span>
                    </div>
                    
                </div>
                    <button class="yellow-button" ng-click="showMore=!showMore">Show Less</button>
                </div>
                
                <div style="clear:both;"></div>
                
                <button class="green-button" ng-click="#">Send to {{ eventsCtrl.userInfo.mental_health_physician }}</button>

                <div style="clear:both;"></div>

                <button class="blue-button left-half" ng-click="eventsCtrl.getEventAPI(eventsCtrl.params, event._id); eventsCtrl.editing=!eventsCtrl.editing; eventsCtrl.editEventId(event._id)">Edit</button>
                <button class="red-button right-half" ng-click="eventsCtrl.deleteEventAPI(eventsCtrl.params, event._id)">Delete</button>

                <div style="clear:both;"></div>            
            </div>
        </div>
        
        <div ng-if="eventsCtrl.editing && eventsCtrl.editingEventId == event._id">
            
            <div class="cbp_tmicon cbp_tmicon-phone"></div>
            <div class="cbp_tmlabel">
                <form id="edit-event-form" ng-submit="eventsCtrl.putEventAPI(eventsCtrl.params, eventsCtrl.eventInfo._id)">
                    <h3>Edit "{{eventsCtrl.updatedEventInfo.title}}"</h3><hr>             
                    <div class="left">                
                        <input type="text" id="title" placeholder="title" ng-model="eventsCtrl.updatedEventInfo.title">
                        <label for="title" class="bottom-padding">Title</label>

                        <!--<input type="date" id="date" ng-model="eventsCtrl.updatedEventInfo.date">
                        <label for="date" class="bottom-padding">Date</label>-->
                        
                        <input type="text" id="location" placeholder="location" ng-model="eventsCtrl.updatedEventInfo.location">
                        <label for="location" class="bottom-padding">Location</label>

                        <input type="text" id="people_involved" placeholder="people" ng-model="eventsCtrl.updatedEventInfo.people_involved">
                        <label for="people_involved" class="bottom-padding">People Involved</label><br>

                        <label for="situation">Situation</label>
                        <textarea type="text-area" class="bottom-padding" id="situation" placeholder="situation" ng-model="eventsCtrl.updatedEventInfo.situation"></textarea>

                        <label for="emotion">Emotion</label>
                        <select name="emotion" class="bottom-padding" ng-model="eventsCtrl.updatedEventInfo.emotion">
                            <option value="joyful">Joyful</option>
                            <option value="accepted">Accepted</option>
                            <option value="fearful">Fearful</option>
                            <option value="surprised">Surprised</option>
                            <option value="sad">Sad</option>
                            <option value="disgusted">Disgusted</option>
                            <option value="angry">Angry</option>
                            <option value="anticipation">Anticipation</option>
                        </select>
                        
                        <label for="triggers">Triggers</label>
                        <textarea type="text-area" class="bottom-padding" id="triggers" placeholder="triggers" ng-model="eventsCtrl.updatedEventInfo.triggers"></textarea>

                        <label for="automatic_thoughts">Automatic Thoughts</label>
                        <textarea type="text-area" class="bottom-padding" id="automatic_thoughts" placeholder="automatic thoughts" ng-model="eventsCtrl.updatedEventInfo.automatic_thoughts"></textarea>

                        <label for="rational_response">Rational Response</label>
                        <textarea type="text-area" class="bottom-padding" id="rational_response" placeholder="rational response" ng-model="eventsCtrl.updatedEventInfo.rational_response"></textarea>

                        <label for="behaviors">Behaviors</label>
                        <textarea type="text-area" id="behaviors" placeholder="behaviors" ng-model="eventsCtrl.updatedEventInfo.behaviors"></textarea>

                        <label for="consequences">Consequences</label>
                        <textarea type="text-area" id="consequences" placeholder="consequences" ng-model="eventsCtrl.updatedEventInfo.consequences"></textarea>

                        <label for="challenged_beliefs">Challenged Beliefs Involved</label>
                        <textarea type="text-area" class="bottom-padding" id="challenged_beliefs" placeholder="challenged beliefs" ng-model="eventsCtrl.updatedEventInfo.challenged_beliefs"></textarea>
                        
                        <input type="text" id="lesson" placeholder="lesson" ng-model="eventsCtrl.updatedEventInfo.lesson">
                        <label for="lesson" class="bottom-padding">Lesson in 140 char (Twitter-ified)</label><br>
                        
                        <label for="old_perspective">Old Perspective</label>
                        <textarea type="text-area" class="bottom-padding" id="old_perspective" placeholder="old perspective" ng-model="eventsCtrl.updatedEventInfo.old_perspective"></textarea>

                        <label for="new_perspective">New Perspective</label>
                        <textarea type="text-area" class="bottom-padding" id="new_perspective" placeholder="new perspective" ng-model="eventsCtrl.updatedEventInfo.new_perspective"></textarea>

                        <label for="coping_strategies">Coping Strategies</label>
                        <textarea type="text-area" id="coping_strategies" placeholder="coping strategies" ng-model="eventsCtrl.updatedEventInfo.coping_strategies"></textarea>
                    </div>
                    
                    <div class="right">
                        <!--Undefined-->
                        <div ng-if="!eventsCtrl.userInfo.gender">
                            <span><p>Please specify your gender in your account settings to make use of this visual representation.</p><hr></span>
                        </div>
                        
                        <!--Female-->
                        <div ng-if="eventsCtrl.userInfo.gender == 'female' && !event.bodily_sensations">
                            <span><img src="../../assets/female/body.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Chronic Headaches'">
                            <span><img src="../../assets/female/chronic-headaches.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Back Pain'">
                            <span><img src="../../assets/female/back-pain.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Muscle Aches and Cramps'">
                            <span><img src="../../assets/female/muscle-aches-and-cramps.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Tightness in the Chest'">
                            <span><img src="../../assets/female/tightness in the chest.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Dizziness'">
                            <span><img src="../../assets/female/dizziness.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Appetite Change'">
                            <span><img src="../../assets/female/appetite-change.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Difficulty Sleeping'">
                            <span><img src="../../assets/female/difficulty-sleeping.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Stomach or Bowel Problems'">
                            <span><img src="../../assets/female/stomach-or-bowel-problems.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Low Energy'">
                            <span><img src="../../assets/female/low-energy.png"/></span>
                        </div>
                    
                        <div ng-if="eventsCtrl.userInfo.gender == 'female' && event.bodily_sensations == 'Shortness of Breath'">
                            <span><img src="../../assets/female/shortness-of-breath.png"/></span>
                        </div>
                        
                        <!--Male-->
                        <div ng-if="eventsCtrl.userInfo.gender == 'male' && !event.bodily_sensations">
                            <span><img src="../../assets/male/body.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Chronic Headaches'">
                            <span><img src="../../assets/male/chronic-headaches.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Back Pain'">
                            <span><img src="../../assets/male/back-pain.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Muscle Aches and Cramps'">
                            <span><img src="../../assets/male/muscles-aches-and-cramps.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Tightness in the Chest'">
                            <span><img src="../../assets/male/tightness-in-the-chest.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Dizziness'">
                            <span><img src="../../assets/male/dizziness.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Appetite Change'">
                            <span><img src="../../assets/male/appetite-change.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Difficulty Sleeping'">
                            <span><img src="../../assets/male/difficulty-sleeping.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Stomach or Bowel Problems'">
                            <span><img src="../../assets/male/stomach-or-bowel-problems.png"/></span>
                        </div>
                        
                        <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Low Energy'">
                            <span><img src="../../assets/male/low-energy.png"/></span>
                        </div>
                    
                        <div ng-if="eventsCtrl.userInfo.gender == 'male' && event.bodily_sensations == 'Shortness of Breath'">
                            <span><img src="../../assets/male/shortness-of-breath.png"/></span>
                        </div>
                        
                        <!--<fieldset ng-model="bodily_sensations">
                            <input type="radio" id="chronic_headaches" value="Chronic Headaches" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                            <label for="chronic_headaches">Chronic Headaches</label><br>
                            
                            <input type="radio" id="back_pain" value="Back Pain" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                            <label for="back_pain">Back Pain</label><br>
                            
                            <input type="radio" id="arthritis" value="Arthritis" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                            <label for="arthritis">Arthritis</label><br>
                            
                            <input type="radio" id="muscle_aches_and_cramps" value="Muscle Aches and Cramps" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                            <label for="muscle_aches_and_cramps">Muscle Aches and Cramps</label><br>
                            
                            <input type="radio" id="pelvic_pain" value="Pelvic Pain" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                            <label for="pelvic_pain">Pelvic Pain</label><br>
                            
                            <input type="radio" id="Tightness_in_the_chest" value="Tightness in the Chest" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                            <label for="Tightness_in_the_chest">Tightness in the Chest</label><br>
                            
                            <input type="radio" id="dizziness" value="Dizziness" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                            <label for="dizziness">Dizziness</label><br>
                            
                            <input type="radio" id="appetite_change" value="Appetite Change" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                            <label for="appetite_change">Appetite Change</label><br>                        
                            
                            <input type="radio" id="difficulty_sleeping" value="Difficulty Sleeping" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                            <label for="difficulty_sleeping">Difficulty Sleeping</label><br>
                            
                            <input type="radio" id="stomach_or_bowel_problems" value="Stomach or Bowel Problems" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                            <label for="stomach_or_bowel_problems">Stomach or Bowel Problems</label><br>

                            <input type="radio" id="low_energy" value="Low Energy" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                            <label for="low_energy">Low Energy</label><br>
                            
                            <input type="radio" id="shortness_of_breath" value="Shortness of Breath" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                            <label for="shortness_of_breath">Shortness of Breath</label><br>
                        </fieldset>-->
                    </div>
                    
                    <div style="clear:both;"></div>
                    <button class="green-button" type="submit">Edit Event</button>
                </form> 
            </div>
        </div>
    </li>
</ul> 
