<ul class="cbp_tmtimeline">
    <li ng-repeat="event in eventsCtrl.events | filter: search">
        <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>{{ event.date }}</span> <span>18:30</span></time>
        <div class="cbp_tmicon cbp_tmicon-phone"></div>
        <div class="cbp_tmlabel">
            <h3>{{ event.title }}</h3>
            <p>{{ event.user_id }}</p>
            
            <p><strong>{{ event.location }}</strong> w/ <strong>{{ event.people_involved }}</strong></p>
            
            <p>{{ event.situation }}</p>    
            
            <p>I felt <strong>{{ event.emotion }}</strong>.</p>

            <p><strong>{{ event.bodily_sensations }}</strong> were triggered by <strong>{{ event.triggers }}</strong>.</p>
            
            <p> At first, I thought: <strong>{{ event.automatic_thoughts }}</strong>
            But when I had a chance to think about what had happened I realized: <strong>{{ event.rational_thoughts }}</strong></p>
            
            <p><strong>{{ event.behaviors }} </strong></p>
            <p><strong>{{ event.consequences }}</strong></p>
            <p><strong>{{ event.challenged_beliefs }}</strong></p>

            <p>What did I take away from this experience? <strong>{{ event.lesson }}</strong></p>

            <p>My old perspective: <strong>{{ event.old_perspective }}</strong></p>
            
            <p>My new perspective: <strong>{{ event.new_perspective }}</strong></p>
            
            <p>Next time use the following coping strategies: <strong>{{ event.coping_strategies }}</strong></p>
            
            <button ng-click="eventsCtrl.getEventAPI(eventsCtrl.params, event._id)">Edit</button>
            <button ng-click="eventsCtrl.deleteEventAPI(eventsCtrl.params, event._id)">delete</button>
        </div>
    </li>
</ul>