<ul class="cbp_tmtimeline">
    <li>
        <time class="cbp_tmtime"><span></span> <span></span></time>
        <div class="cbp_tmicon cbp_tmicon-screen"></div>
        <div class="cbp_tmlabel">
            
            <form id="new-event-form" ng-submit="eventsCtrl.addEventAPI(eventsCtrl.params)">
                <h2>Create a New Event</h2>
                <div class="left">
                    <input type="text" id="title" placeholder="title" ng-model="eventsCtrl.addEventInfo.title">
                    <label for="title" class="bottom-padding">Title</label>

                    <input type="date" id="date" ng-model="eventsCtrl.addEventInfo.date">
                    <label for="date" class="bottom-padding">Date</label>
                    
                    <input type="text" id="location" placeholder="location" ng-model="eventsCtrl.addEventInfo.location">
                    <label for="location" class="bottom-padding">Location</label>

                    <input type="text" id="people_involved" placeholder="people" ng-model="eventsCtrl.addEventInfo.people_involved">
                    <label for="people_involved" class="bottom-padding">People Involved</label><br>

                    <label for="situation">Situation</label>
                    <textarea type="text-area" class="bottom-padding" id="situation" placeholder="situation" ng-model="eventsCtrl.addEventInfo.situation"></textarea>

                    <label for="emotion">Emotion</label>
                    <select name="emotion" class="bottom-padding" ng-model="eventsCtrl.addEventInfo.emotion">
                        <option value="joy">Joy</option>
                        <option value="acceptance">Acceptance</option>
                        <option value="fear">Fear</option>
                        <option value="surprise">Surprise</option>
                        <option value="sadness">Sadness</option>
                        <option value="disgust">Disgust</option>
                        <option value="anger">Anger</option>
                        <option value="anticipation">Anticipation</option>
                    </select>
                    
                    <label for="triggers">Triggers</label>
                    <textarea type="text-area" class="bottom-padding" id="triggers" placeholder="triggers" ng-model="eventsCtrl.addEventInfo.triggers"></textarea>

                    <label for="automatic_thoughts">Automatic Thoughts</label>
                    <textarea type="text-area" class="bottom-padding" id="automatic_thoughts" placeholder="automatic thoughts" ng-model="eventsCtrl.addEventInfo.automatic_thoughts"></textarea>

                    <label for="rational_response">Rational Response</label>
                    <textarea type="text-area" class="bottom-padding" id="rational_response" placeholder="rational response" ng-model="eventsCtrl.addEventInfo.rational_response"></textarea>

                    <!--<label for="behaviors">Behaviors</label>
                    <textarea type="text-area" id="behaviors" placeholder="behaviors" ng-model="eventsCtrl.addEventInfo.behaviors"></textarea>

                    <label for="consequences">Consequences</label>
                    <textarea type="text-area" id="consequences" placeholder="consequences" ng-model="eventsCtrl.addEventInfo.consequences"></textarea>-->

                    <label for="challenged_beliefs">Challenged Beliefs Involved</label>
                    <textarea type="text-area" class="bottom-padding" id="challenged_beliefs" placeholder="challenged beliefs" ng-model="eventsCtrl.addEventInfo.challenged_beliefs"></textarea>
                    
                    <input type="text" id="lesson" placeholder="lesson" ng-model="eventsCtrl.addEventInfo.lesson">
                    <label for="lesson" class="bottom-padding">Lesson in 140 char (Twitter-ified)</label><br>
                    
                    <label for="old_perspective">Old Perspective</label>
                    <textarea type="text-area" class="bottom-padding" id="old_perspective" placeholder="old perspective" ng-model="eventsCtrl.addEventInfo.old_perspective"></textarea>

                    <label for="new_perspective">New Perspective</label>
                    <textarea type="text-area" class="bottom-padding" id="new_perspective" placeholder="new perspective" ng-model="eventsCtrl.addEventInfo.new_perspective"></textarea>

                    <label for="coping_strategies">Coping Strategies</label>
                    <textarea type="text-area" id="coping_strategies" placeholder="coping strategies" ng-model="eventsCtrl.addEventInfo.coping_strategies"></textarea>
                </div>
                
                <div class="right">
                    <img src="../../assets/body.png" alt="">
                    
                    <!--<label>Bodily Sensations Involved</label>-->
                    <fieldset ng-model="bodily_sensations">
                        <input type="radio" id="chronic_headaches" value="Chronic Headaches" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                        <label for="chronic_headaches">Chronic Headaches</label><br>
                        
                        <input type="radio" id="back_problems" value="Back Problems" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                        <label for="back_problems">Back Problems</label><br>
                        
                        <input type="radio" id="arthritis" value="Arthritis" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                        <label for="arthritis">Arthritis</label><br>
                        
                        <input type="radio" id="muscle_aches_and_cramps" value="Muscle Aches and Cramps" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                        <label for="muscle_aches_and_cramps">Muscle Aches and Cramps</label><br>
                        
                        <input type="radio" id="pelvic_pain" value="pelvic_pain" ng-model="eventsCtrl.addEventInfo.bodily_sensations">
                        <label for="pelvic_pain">Pelvic Pain</label><br>
                    </fieldset>
                </div>
                
                <div style="clear:both;"></div>
                <button class="green-button" type="submit">Submit</button>
            </form> 
        </div>
    </li>
</ul>
