<div class="row" ng-controller="UsersController as usersCtrl">
    <div class="col-md-12">
        <nav class="navbar navbar-default">
            <div>
                <a class="navbar-brand logo" ui-sref="landing">Somati<span class="red">C</span><span class="red">o</span><span class="yellow">l</span><span class="green">o</span><span class="blue">r</span>s</a>
                <ul class="nav navbar-nav navbar-right">

                    <li><a ui-sref="about">About</a></li>
                    
                    <li ng-if="usersCtrl.loggedIn"><a ui-sref="user({user_id: usersCtrl.user.user_id})">Account</a></li> 
                    <li ng-if="usersCtrl.loggedIn"><a ui-sref="events({user_id: usersCtrl.user.user_id})">Timeline</a></li>                     
                    <li ng-if="usersCtrl.loggedIn"><a ng-click="usersCtrl.logout()">Log Out</a></li>
                    
                    <li ng-if="!usersCtrl.loggedIn"><a ui-sref="login">Log In</a></li> 
                    <li ng-if="!usersCtrl.loggedIn"><a ui-sref="signup">Sign Up</a></li> 
                </ul>
            </div>
        </nav>
    </div>
</div>