<!--Top-Bar-->
<section class="row search-bar">
    <div class="col-md-12">
        <!--Filter Events-->
        <input type="text" placeholder="search my timeline for..." ng-model="search">
    </div>
</section>

<section class="row">
    <div class="col-md-4">        
        <!--Sidebar-->        
        <sidebar></sidebar>
    </div>
    
    <div class="col-md-8">        
        <!--New Event-->
        <div ng-hide="eventsCtrl.newEvent">
            <button class="green-button no-margin" ng-click="eventsCtrl.newEvent=!eventsCtrl.newEvent">Make a New Event</button>
        </div>
        <div ng-show="eventsCtrl.newEvent" >
            <new-event-form></new-event-form>
        </div>
        
        <!--Timeline of Events-->        
        <all-events></all-events>
    </div>
</section>