<section class="row">
    <div class="col-md-12">
        
        <!--Filter Events-->
        <div class="search-bar">
            <input type="text" placeholder="Search for..." ng-model="search">
        </div>
        
        <!--New Event-->
        <new-event-form></new-event-form>
        
        <!--Timeline of Events-->        
        <all-events></all-events>
        
        <!--Edit Event-->
        <div ng-show="eventsCtrl.editing" >
            <edit-event-form></edit-event-form>
        </div>
        
    </div>
</section>


