<div class='landing'>

    <header class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>SomatiColors</h2>
            <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam remaperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</h3>
        </div>
    </header>
    
        <div class="row lines">
            <div class="col-md-4 col-md-offset-1">
                <h4>half/half</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam remaperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
            
            <div class="col-md-offset-1 col-md-6 yang">
                <img src="../assets/placeholder.png" alt="">     
            </div>
        </div>
        
        <div class="row lines">
            <div class="col-md-6 yin">
                <img src="../assets/placeholder.png" alt="">     
            </div>
            
            <div class="col-md-4 col-md-offset-1">
                <h4>half/half</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam remaperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>
        
        <div class="row lines">
            <div class="col-md-4 col-md-offset-1">
                <h4>half/half</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam remaperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
            
            <div class="col-md-offset-1 col-md-6 yang">
                <img src="../assets/placeholder.png" alt="">     
            </div>
        </div>
    
    <section class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>SomatiColors</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam remaperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            <h3><img src="../assets/placeholder.png" alt=""></h3>
        </div>
    </section>

</div>