<section class="row">
    <div class="col-md-6 col-md-offset-3">
		<h1>Login</h1>		
		<form ng-submit="usersCtrl.login()">

            <input type="text" ng-model="usersCtrl.user.username">
            <label class="bottom-padding">Email</label>

            <input type="password" ng-model="usersCtrl.user.password">
            <label class="bottom-padding">Password</label>
            
			<div class="alert alert-danger" ng-if="usersCtrl.error">
				{{ usersCtrl.error }}
			</div>

			<button type="submit" class="blue-button">Log In</button>
        </form>
    </div>
</section>

