<section class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Sign Up</h1><br><br>			
        <form ng-submit="usersCtrl.signup()">

            <input type="email" ng-model="usersCtrl.user.username">
            <label class="bottom-padding">Email</label>

            <input type="password" ng-model="usersCtrl.user.password">
            <label class="bottom-padding">Password</label>
            
            <div class="alert alert-danger" ng-if="usersCtrl.error">
                {{ usersCtrl.error }}
            </div>

            <button type="submit" class="blue-button">Sign Up</button>
        </form>
    </div>
</section>